.hero {
  max-width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--footer-color);
  background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 60%),
    url(../images/header-mobile.jpg);
  padding: 118px 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &-title {
    color: var(--primary-backround-color);
    margin-bottom: 30px;
    font-weight: var(--large-font-weight);
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 60%),
      url(../images/header-mobile@2x.jpg);
  }
}
