.section {
  padding-top: 94px;
  padding-bottom: 94px;
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section__list {
  @extend %flex;

  @media (max-width: 1199px) {
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  @extend %list;
}

.section__link {
  width: 210px;
  height: 92px;
  @extend %flexcenter;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include respond-to(desktop) {
    width: 170px;
  }
  &:hover .section__logo,
  &:focus .section__logo {
    fill: var(--accent-color);
  }
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.section__link:hover,
.section__link:focus {
  border: 1px solid var(--accent-color);
}

@media (max-width: 1199px) {
  .section__item {
    margin-bottom: 30px;
    margin-right: 30px;
  }
}

.section__logo {
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@include respond-to(desktop) {
  .section__item:not(:last-child) {
    margin-right: 30px;
  }
}
