.section-title {
  padding-top: 94px;
  padding-bottom: 94px;
  &__logo:hover,
  &__logo:focus {
    fill: var(--accent-color);
  }
}

.section-title__list {
  @extend %list;
  margin: 0 auto;
  font-size: 14px;
  line-height: var(--text-line-height);
  @include respond-to(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.section-title__logo {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include respond-to(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.section-title__item {
  width: 354px;
}
.section-title__item:not(:last-child) {
  margin-bottom: 30px;
}

.section-title__description {
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.section-title__text {
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: var(--text-line-height);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
